body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.game-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

label {
    margin: 0 10px;
    cursor: pointer;
}

button {
    background-color: #3882f6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1f4fa0;
}

#results, #score, #winner {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}